In [1]:
import pandas as pd
import numpy as np
import sqlite3
import functions_sql as fsql

In [ ]:
import pickle
the_list=[1,2,3]
with open('my_first_pickle.pkl','wb') as f:
    pickle.dump(the_list, f,protocol=pickle.HIGHEST_PROTOCOL)
with open('my_first_pickle.pkl', 'rb') as handle:
    b = pickle.load(handle)
b

In [ ]:
fsql.getting_column_names('clients')

In [ ]:
import functions_sql as fsql

In [ ]:
llista=[1,None,3,4,5,6]
[x if x != None else 0 for x in llista]

In [ ]:
with open('filename.pickle', 'wb') as handle:
    pickle.dump(a, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('filename.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [ ]:
first_name,last_name,middle_name,ei_number=tk.StringVar(),tk.StringVar(),tk.StringVar(),tk.StringVar()
address,apt,city,zip_code,parent,agency=tk.StringVar(),tk.StringVar(),tk.StringVar(),tk.StringVar(),tk.StringVar(),tk.StringVar()
dob, email=tk.StringVar(),tk.StringVar()

entries=[first_name,last_name,middle_name,ei_number,dob,
                address,apt,city,zip_code,parent,agency,email]
record=[('Owl', None, '2022-05-26', '2022-04-26', '888777', 1.0, None, 'Isona', 'Pitufo', 'Ilias', '143 Mcdon', '4V', 'Brook', '11218', 'Melissa Weinberg', 'chicoberg@gmail.com')]

for pos in range(len(entries)):
    entries[pos].set(record[0][pos])
    print(entries[pos].get())

In [24]:
conn=sqlite3.connect('./database/ot_clients.db')
#conn.row_factory=sqlite3.Row
#create a cursor
c=conn.cursor()

# c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(c.fetchall())
#c.execute("SELECT *,ei_number,oid from clients; ")
data=c.execute("SELECT * from clients; ")
print(list(map(lambda x: x[0],c.description)))
records=c.fetchall()
for num, line in enumerate(data.description):
    print(num,line[0], '\n')
    
conn.commit()
conn.close()

['agency', 'activity', 'reception_date', 'dob', 'ei_number', 'age', 'execution_date', 'first_name', 'last_name', 'middle_name', 'address', 'apt', 'city', 'zip_code', 'parent', 'email']
0 agency

1 activity

2 reception_date

3 dob

4 ei_number

5 age

6 execution_date

7 first_name

8 last_name

9 middle_name

10 address

11 apt

12 city

13 zip_code

14 parent

15 email

In [30]:
numbers=[]
for record in records:
    numbers.append(record[4])
999999 in numbers

False

In [25]:
records[-1]

('Owl',
 None,
 '2022-07-19',
 '2022-08-14',
 '888888',
 1.0,
 None,
 'Alexandre',
 'Chicote',
 '',
 '123 McDonald Ave',
 '2D',
 'Brooklyn',
 '11210',
 'Melissa guttenberg',
 'cgicoberg@gmail.com')

In [15]:
conn=sqlite3.connect('./database/ot_clients.db')
#conn.row_factory=sqlite3.Row
#create a cursor
c=conn.cursor()

# c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(c.fetchall())
#c.execute("SELECT *,ei_number,oid from clients; ")
c.execute("""SELECT first_name,last_name,middle_name,ei_number,dob, address,apt,
                    city,zip_code,parent,agency FROM clients where ei_number=999888;""" )

records=c.fetchall()
llista=[element for element in records[0]]
    
conn.commit()
conn.close()
llista

['Isona',
 'Chicote',
 'Weiss-Teresa',
 '999888',
 '2012-10-14',
 '143 McDonald Ave',
 '3C',
 'Brooklyn',
 '11218',
 'Melissa Weinberg',
 'Owl']

In [4]:
fsql.drop_rows_table('clients','ei_number',999999)

In [ ]:
from datetime import datetime
datetime_object = datetime.strptime(llista[4], '%Y-%m-%d')
datetime_object

In [ ]:
conn=sqlite3.connect('./database/ot_clients.db')
#conn.row_factory=sqlite3.Row
#create a cursor
c=conn.cursor()

# c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(c.fetchall())
c.execute("SELECT * from clients where ei_number=888999; ")
#c.execute("SELECT * from clients; ")

records=c.fetchall()
for record in records:
    print(record, '\n')
    
conn.commit()
conn.close()

In [ ]:
list(range(1,11))

In [ ]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}
people_new={}

for key,value in people.items():
    print('KEY',key,'VALUE',value)
    people_new[key]=max(value)

people_new

In [ ]:
max([1,4,77])

In [ ]:
alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
alphabet_dict={b:a+1 for a,b in enumerate(alphabet)}

In [ ]:
letters_a='hjhkdtkjhvkhvbh'

addition=0
for letter in letters_a:
    if letter.upper() in alphabet:
        addition=addition + alphabet.index(letter.upper())+1
addition

In [ ]:
addition=0
for letter in letters_a:
    if letter.upper() in alphabet:
        addition=addition+alphabet_dict[letter.upper()]
addition

In [ ]:
[*range(10,100)]

In [14]:
help(pd.fillna())

AttributeError: module 'pandas' has no attribute 'fillna'